h1{
    color: blue;
    font-family: fantasy;
    font-size: xx-large;
}
h2 {
    color: royalblue;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: cornflowerblue;
    font-family: monospace;
    font-size: medium;
}